{% extends "web/base.html" %}
{% load static %}

{% block titulo %}Administración{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/administracion.css' %}">
{% endblock %}

{% block main %}
    <div class="contenedor-centrado">
        <h2>Administración</h2>
        <ul>
            {% for orden in ordenes %}
            <li>Número de Orden: {{ orden.numero_orden }}, DNI: {{ orden.dni }}, Estado: {{ orden.estado }}</li>
            {% endfor %}
        </ul>

        <a href="{% url 'index' %}"><button class="btn">Volver</button></a>
    </div>
{% endblock %}
