{% extends "web/base.html" %}
{% load static %}

{% block titulo %}Administración - Login{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/admin_login.css' %}">
{% endblock %}

{% block main %}
    <div class="contenedor-centrado">
        <div class="fondo">
            <h2>Login de Administrador</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn" type="submit">Ingresar</button>
            </form>
        </div>
    </div>
{% endblock %}
