{% extends "web/base.html" %}
{% load static %}

{% block titulo %}Inicio{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/index.css' %}">
{% endblock %}

{% block main %}
    <!-- <h2>Bienvenid@ {{ nombre }}</h2>
    <p>{{ fecha_hora }}</p> -->

    <div id="contenedor" class="centered">
        <section class="presentacion">
            <p>Estamos comprometidos a ofrecerte la mejor experiencia!<br>Garantizamos cada reparación con 100 días de cobertura completa, respaldada por un riguroso proceso de diagnóstico y actualización de antivirus, así como la revisión periódica de backups. Con servicio disponible en todo el país, nuestro equipo de expertos está siempre a tu disposición para asesorarte y brindarte atención, permitiéndote seguir el estado de tu equipo desde la comodidad de tu hogar. Tu confianza es nuestra garantía.</p>
        </section>
        <section class="equipos">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section class="funcion"></section>
        <section class="info_contacto"></section>
    </div>

    <!-- <img src="{% static 'web/img/gatito.jpg' %}" alt="La foto de un gatito"> -->

{% endblock %}