* {
    box-sizing: border-box;
}

.contenedor-centrado { 
    display: flex; 
    justify-content: center; 
    padding: 20px;
    margin: 20px;
} 

h2 {
    text-align: center; 
    color: #fff;
    background-color: #000; 
    padding: 20px 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
} 

form { 
    width: 50em;
    margin: 2em auto; 
    padding: 3em 2em; 
    background-color: rgba(0, 0, 0, 0.712); 
    border: 1px solid lightslategray; 
    color: #fff;
    border-radius: 10px;
} 

label {
    display: block;
    font-size: 25px;
    margin-top: 10px;
}

input[type="text"], input[type="password"], input[type="email"], textarea { 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #cccccc; 
    border-radius: 5px; 
} 
