/* h2{
    background-color: blueviolet;
    padding: 25px;
    color: white;
    border-radius: 5px;
    border-top-right-radius: 20px;
} */

#contenedor{
    background-color: rgba(0, 0, 0, 0.6);
    width: 80%;
    padding: 30px;
    letter-spacing: 2px;
}

#contenedor > section > p{
    color: white;
}

.centered {
    flex-direction: column;
}

.presentacion, .equipos, .funcion {
    text-align: center;
    margin-bottom: 2em;
}

.presentacion h2, .equipos h2, .funcion h2 {
    font-size: 2em;
    color: #ff5733;
    margin-bottom: 20px;
}

.presentacion p, .funcion p {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #333;
}

.features, .steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.feature, .step {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px);
    box-sizing: border-box;
}

.feature img, .step img {
    max-width: 60px;
    margin-bottom: 10px;
}

.feature h3, .step p {
    margin-bottom: 10px;
    color: #333;
}

.device-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.device-icons img {
    max-width: 60px;
    margin-bottom: 10px;
}

a{
    padding: auto;
}